<section class="section-contact">
  <h2 id="Details">Contact Details</h2>
  <hr class="bar"/>
  <div class="social-links">
    <a href="https://srossi93.github.io/">
      <div class="glyph-icon flaticon-website22"></div>
    </a>
    <a href="https://linkedin.com/in/simonerossi93">
      <div class="glyph-icon flaticon-linkedin"></div>
    </a>
    <a href="https://github.com/srossi93">
      <div class="glyph-icon flaticon-github"></div>
    </a><!--
    <a href="https://www.youtube.com">
      <div class=".icon-stack-overflow"></div>
    </a>-->
  </div>
  <hr class="bar"/>
  <a href="mailto:simone.rossi.93@gmail.com" class="biglink">simone.rossi.93@gmail.com</a>
</section>
