<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Education">Education</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Telecom ParisTech, Paris</h2>
        <P><i><b>Master of Science in Telecommunication Engineering</b></i></p>
        <p>
          Double-Degree Program with Politecnico di Torino
        </P>
        <span class="cd-date">2016-2018</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">EURECOM, Sophia Antipolis</h2>
        <P><i><b>Master of Engineering - Smart Objects & Data Science</b></i></p>
        <p>
          Machine Learning and Intelligent Systems, Advanced Statistical Inference,
          Advanced Data Science Topics, Signal Processing Technologies,
          Real Time Operating Systems, Hardware - Software Integration
        </P>
        <span class="cd-date">2016-2018</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Politecnico di Torino, Torino</h2>
        <P><i><b>Masters of Science in Electronic Engineering - Embedded Systems</b></i></p>
        <p>
          Modeling and optimization of embedded systems, Synthesis and optimization
          of digital systems, Microelectronic systems, Computer architectures,
          Electronics for Embedded Systems
        </P>
        <p><small>
          This curriculum has given Simone the expertise to design and optimize
          embedded systems, by integrating system and application aspects.
          Key topics are the organization of programmable hardware architectures
          for embedded systems, their software and hardware interfaces, and the
          implementation techniques in hardware platforms, both integrated and multichip.
        </small></p>
        <span class="cd-date">2015-2017</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/graduate38.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Università degli Studi di Genova, Genova</h2>
        <P><i><b>Bachelor Degree in Electronic and Information Technology Engineering</b></i></p>
          <p><b>Summa cum Laude (110/110 with honors)</b><p>
        <p>
          Advanced Mathematics, Physics, Digital Systems and Analog Electronics,
          Processing and Transmission of Signals and Images, Systems Theory, Signals
          and Systems for Telecommunications
        </P>
        <p><small>
          The BSc Degree in Electronics and Information Technologies Engineering
          provided to Simone a solid background knowledge in different fields of
          Electronic Engineering, Information Technologies and Computer Science.
        </small></p>
        <span class="cd-date">2012-2015</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/graduate38.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Istituto Sant’Antonio Gianelli, Chiavari</h2>
        <P><i><b>High School Diploma in Liceo della Comunicazione</b></i></p>
          <p><b>98/100</b><p>
        <span class="cd-date">2008-2015</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

<!--
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="../assets/img/idea14.svg" alt="College"/>
      </div>
      <div class="cd-timeline-content">
        <h2>Enterprise Competition Runner-up</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
        </p>
        <span class="cd-date">April 2014</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/web-programming.svg" alt="Picture"/>
      </div>
      <div class="cd-timeline-content">
        <h2>Software Developer</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
        </p>
        <span class="cd-date">May 2013 - September 2014</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/graduate38.svg" alt="Location"/>
      </div>
      <div class="cd-timeline-content">
        <h2>Computer Science School</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
        </p>
        <span class="cd-date">Sept 2014 - Sept 2015</span>
      </div>
    </div><div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/hosting.svg" alt="Location"/>
      </div>
      <div class="cd-timeline-content">
        <h2>Integration Engineer with Example</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
        </p>
        <span class="cd-date">May 2015 - Current</span>
      </div>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/question30.svg" alt="Location"/>
        </div>
      </div>
    </div>
  -->
  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>
