<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Education">Experience</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/web-programming.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Graduate Research Associate</h2>
        <P><i><b>Columbia University in the city of New York, New York (US)</b></i></p>
          <p>
            The project will involve the high level design of an accelerator for ConvNets targeting an application-specific domain. The project is a joint collaboration inside Columbia University between the group of System Level Design at Computer Science and the NEVIS Group at the Department of Physics. 
          </p>
        <span class="cd-date">Jul. 2017 - Present</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/web-programming.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Graduate Student Researcher</h2>
        <P><i><b>EURECOM, Sophia Antipolis (FR)</b></i></p>
          <p>
            In the context of the semester project at EURECOM, I spent five months part-time working on a research project on Deep Learning for Unsupervised Learning in the Department of Data Science under the supervision of Prof. Maurizio Filippone. During this period of time, I improved my expertise in Statistical Inference and, in particular, on Gaussian Processes and on their extension to deep architectures. Since these Deep Gaussian Processes has been limited to the case of supervised problems, during the project I extended the existing framework also for unsupervised learning, notably dimensionality reduction and clustering.
          </p>
        <span class="cd-date">Feb. 2017 - Jun. 2017</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="../assets/img/web-programming.svg" alt="Picture"/>
          </div><!-- cd-timeline-img-->
          <div class="cd-timeline-content">
            <h2 class="story-heading">Undergraduate Student Researcher</h2>
            <P><i><b>Università degli Studi di Genova, Genova (IT)</b></i></p>
              <p>
                As part of the Final Thesis for the Bachelor Degree in Electronic and Information Technologies Engineering, I spent part of the last semester in the Department of Electronic Engineering (DITEN @UNIGE) with two other students in developing and evaluating methods for Feature Extraction, notably Histograms of Oriented Gradients, under the supervision of Prof. Gabriele Moser. This method has beed adapted to work with remote sensing multispectral VHR images, in the context of urban area analysis, and applied to a real case scenario.
              </p>
            <span class="cd-date">Apr. 2015 - Sept. 2015</span>
          </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>
